<div class="card-footer"> 
	<div class="container">

	<div class="row centered">

		<div class="row">
			<div class="col-md-4 text-section">
			<div class="subtitle"> About this Website </div>
			<br>
			This website is a personal learning project. It is my first implementation of the MEAN Stack.
			<br><br>
			Through this project, I have familiarised myself with many features of the Angular CLI framework, including Routing, Services, Directives and Animations. I have also learnt about responsive design through Bootstrap's media queries.
			</div>
			<div class="col-md-4 text-section">
			<div class="subtitle"> About the Author </div>
			<br>
			<a *ngFor="let link of links" class="link"
				href="{{link.webUrl}}" target="_blank"><i class="{{link.name}}"></i> </a>
			<br>
			Hello, my name is nessienono, and I am a third-year Computer Science student from Sydney, Australia. I am Christian, and I migrated from China when I was 8. I enjoy creating webcomics in my spare time. 
			<br> <br>

			</div>
			<div class="col-md-4 text-section">
			<div class="subtitle"> Resources </div>
			<br>
			<div *ngFor="let resource of resources">
				<a href="{{resource.webUrl}}"> - {{resource.name}} - </a>
			</div>
			<br> <br>


			</div>
		</div>




	</div>
	<br>


	<hr>
	<div class="row centered">
		<div class="col-md-12 copyright"> Copyright &copy; {{ getYear() }} nessienono </div>
	</div>



</div>