.subtitle {
	font-size: 1.8em;
}


.text-section {
	font-family: "Alike", serif;
	padding: 2em;
}
.card-footer {
	position: absolute;
	z-index: 1000;
	width: 100%;
	margin-top: 10vh;
}

hr {
	border: 0;
	clear:both;
	display:block;
	width: 96%;               
	background-color: #6e6f87;
	height: 1px;
}


.to-top { 
	z-index: 30;
}

.centered { 
	text-align: center;
}

.copyright { 
	text-align: center;
	margin-top: 1em; 
	margin-bottom: 2em;
}

.link {
	font-size: 2em;
	margin-top: 1rem; margin-right: 1rem;
}

a { 
	font-family: "Alike", serif;
	color: #2D8581;
	text-decoration: none;
}

a:hover {
	color:#63D9B6;
}

