.text-section {
	margin-top: 10vh;
	padding-left:10vh; padding-right: 10vh;
}

a {
	text-decoration: none;
}

.link {
	font-size: 3em;
	margin-top: 1rem; margin-right: 2rem;
}

.big-text {
	font-family: "Alike", serif;
	font-size: 6em;
}


h1, li, a, .text {
	font-family: "Alike", serif;
}

li, .text {
	font-size: 1.2em;
}

a { 
	color: #50A2C7;
}

a:hover {
	color:#63D9B6;
}