<table class="table table-hover">
  <thead>
  <tr>
      <td class="number">No.</td>
      <td class="title">Title</td>
      <td class="body">Body</td>
      <td colspan="2" class="actions">Actions</td>
  </tr>
  </thead>

  <tbody id="tablebody" [@entryCascade]="entries">
      <tr *ngFor="let entry of entries; let i = index" id="{{entry._id}}"
          [@delete]>
          <td> {{ i+1 }}.</td>
          <td>{{ entry.entry_title }}</td>

          <!-- Preview of the first words in this body -->
          <td>{{ entry.entry_body.substring(0, 30) +"..." }}</td> 




          <td>
            <a [routerLink]="['./edit', entry._id]" class="btn btn-primary edit"> 
                <span class="full"> <i class="fas fa-edit"></i> Edit </span>
                 <i class="fas fa-edit hieroglyph"></i>
            </a>
          </td>

          <td>
            <a [routerLink]="" class="btn btn-danger delete" (click)="deleteEntry(entry._id)">
              <span class="full"> <i class="fas fa-eraser"></i> Delete </span>
              <i class="fas fa-eraser hieroglyph"></i> 
            </a> 
          </td>
      </tr>
  </tbody>
</table> 