thead {
	font-size: 1.4em;
	font-weight: bolder;
}


table {
	table-layout: fixed;
	margin-top: 5vh; 
	padding: 1em;
}


.number {
	width: 10%;
}

.actions {
	float: right;
}

.title {
	width: 20%;
}
.body {
	width: 40%;
}

.edit {
	float: right;
}

.delete {
	float: right;
}

td {
	padding-right:5px;padding-left: 5px;
}

@media (max-width: 996px) {
	.full { display: none!important }
	.hieroglyph{ 
		display: block!important; 
		/** there are 4 buttons, so they divide the screen into 25vw. **/
		/** Each 25 vw can be made up of 15 being the font,**/
		font-size: 1.2em;
		text-align: center!important;
	}	
	a.btn {
		width: 80%;
	}
	
}
