thead {
	font-size: 1.4em;
	font-weight: bolder;
}


table {
	table-layout: fixed;
	margin-top: 5vh; 
	padding: 1em;
}


.number {
	width: 5vw;
}

.actions {
	float: right;
}

.title {
	width: 15vw;
}
.body {
	width: 25vw;
}

.edit {
	float: right;
}

.delete {
	float: right;
}