<div class="row">


  <div class="col-md-12"> 
    

    <div class="card">
      <div class="card-body">
        <form [formGroup]="angForm" novalidate>

          <div class="form-group">


            <button *ngIf="showConfirmation"
            type="button" class="btn btn-success"> 
              <i class="fas fa-clipboard-check"></i> Entry saved!! </button>


            <button *ngIf="!showConfirmation"
            type="submit" 
            [disabled]="angForm.pristine || angForm.invalid" 
            class="btn btn-primary"
            (click)="addEntry(entry_title.value, entry_body.value)"
            [disabled]="angForm.pristine || angForm.invalid">

            <i class="fas fa-save"></i> Save </button>

          </div>


          <div class="form-group">
            <input type="text" class="form-control" 
              formControlName="entry_title" 
              #entry_title 
              autofocus
              placeholder="Enter the title"
              [@enterOnLoad]/>
          </div>
          <hr [@enterOnLoad]>

          
          <div class="form-group">
            <textarea type="text" class="form-control" 
              formControlName="entry_body" 
              #entry_body
              autofocus
              placeholder="Enter the body"
              [@enterOnLoad]> 
            </textarea>

          </div>

          <!--value is undefined at the moment of the template rendering. You can use safe navigation operator (?) to "protect" template until HTTP call is completed:-->
          <div *ngIf="angForm.value.entry_body"> Word count: {{ countWords(angForm.value.entry_body) }} </div>
        </form>
      </div>
    </div>

  </div>

</div>

