

<div class="main">
	<div class="title"
	[@showTitle]="'flyIn'"
	[@topToBottom]="top? 'bottom':'top'"
	[@sideToSide]="left? 'right':'left'"> 
	Monotype. 
	</div>



	<div class="subtitle"> Minimalist text editor </div>
	<div class="subtitle"> write without distractions </div>

	<div class="button-div"> <button routerLink="entry/create" class="btn btn-dark start-writing">
		<i class="fas fa-plus-square"> </i> Start Writing
	</button> </div>



	<img class="splatter" src="../../assets/img/ink-splatters/simple-ink.png">
	<img class="dots" src="../../assets/img/ink-splatters/splatter-01.png">


</div>